<div class="layout-footer"
    style="display: flex; justify-content: center; align-items: center;  padding: 10px;">

   
    
      
      <div style="display: flex;align-items:center; ">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo' : 'logo_dark'}}.png" alt="logo" style="height: 35px; width: auto;">
    </div>



            <!-- <div>
                    <div style="display: flex; align-items: center;">
                
                <img src="assets/layout/images/BB_findept_new.png" alt="Finance Dept Logo"
                    style="height: 50px; width: auto;" />
            </div> -->
        </div>

        