<p-card *ngIf="!isLoading">
    <h1>Employee Details</h1>
    <mh-prime-dynamic-table
                        size="Small"    
                        [showTopMenubar]="true"                    
                        [numberRowsShown]="5"
                        [rowsPerPageOptions]="[10, 30, 50]"
                        [data]="tableData"
                        (queryParameterChange)="HandleQueryParameterChange($event)"
                        (searchKeyChange)="HandSearchKeyChange($event)"
                        >
     </mh-prime-dynamic-table>
</p-card>