<p-card>
    <div class="grid p-fluid">
        <div class="col-12">
                <div class="p-formgrid grid">
        
        
                </div>
        </div>
    </div>

</p-card>

<p-card *ngIf="!isLoading">
    <h1>Employee Details</h1>
    <mh-prime-dynamic-table
                        size="Small"
                        [numberRowsShown]="5"
                        [rowsPerPageOptions]="[5, 10]"
                        [data]="tableData"
                        [isLoading]="isLoading"
                        (queryParameterChange)="HandleQueryParameterChange($event)"
                        >
     </mh-prime-dynamic-table>
</p-card>